@charset "utf-8";

body {         
    background-color: #FFE9F3;
    text-align:center;
    font-family: "Zen Maru Gothic", serif;
    font-weight: bold;
}

p.img-nazotoki img {
    width: 400px;

    }
    p.img-Quizreversi img {
        width: 400px;
        margin-top: 20px;
    
        }
h1 {
    font-family: "Dela Gothic One", sans-serif;  
    font-weight: 400;
    font-style: normal;  
}
.heading-40 {
    padding: .5em .7em;
    background-image: linear-gradient(45deg, #b7ade912 25%, transparent 25%, transparent 50%, #b7ade912 50%, #b7ade912 75%, transparent 75%, transparent), linear-gradient(-45deg, #b7ade912 25%, transparent 25%, transparent 50%, #b7ade912 50%, #b7ade912 75%, transparent 75%, transparent);
    background-color: #ffffff;
    background-size: 20px 20px;
    color: #b7ade9;
}
h2 {
    font-family: "Dela Gothic One", sans-serif;  
    font-weight: 400;
    font-style: normal;  
}
    p.img-27-4 img {
        width: 400px;
    
        }

.box-001 {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    padding: calc(1em + 25px) 1.5em 1em;
    border: 2px solid #b7ade9;
    border-radius: 5px;
    background-color: #ffffff;
    overflow: auto;
}

.box-001 svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background-color: #b7ade9;
}

.box-001 p {
    margin: 0;
    padding: 0;
}