@charset "utf-8";

p.img-nazotoki img {
    width: 500px;

    }

    p.img-27-4 img {
        width: 400px;
    
        }

        body {
            background-image: url();
            text-align:center;
        }