@charset "utf-8";


body {         
    background-color: #FFE9F3;
    text-align:center;
    font-family: "Zen Maru Gothic", serif;
    font-weight: bold;
}

p.img-nazotoki img {
    width: 400px;

    }
    p.img-Quizreversi img {
        width: 80%;
        margin-top: 20px;
    
        }
        p.img-idol img {
            width: 80%;
            margin-top: 20px;
        
            }
            p.img-onkyo img {
                width: 80%;
            
                }

                p.img-nazop24 img {
                    width: 80%;
                
                    }
                    p.img-bass img {
                        width: 60%;
                    
                        }
                        p.img-kakeibo img {
                            width: 60%;
                        
                            }
                            p.img-kanyu img {
                                width: 80%;
                            
                                }
                                p.img-genonkanyu img {
                                width: 50%;
                            
                                }
                                p.img-2025suteibe img {
                                width: 50%;
                            
                                }
                                p.img-2025kousensai img {
                                width: 50%;
                            
                                }
                                p.img-2025rogo img {
                                width: 60%;
                            
                                }
                                p.img-EStodo img {
                                width: 60%;
                            
                                }
h1 {
    font-family: "Dela Gothic One", sans-serif;  
    font-weight: 400;
    font-style: normal;  
}
.heading-40 {
    padding: .5em .7em;
    background-image: linear-gradient(45deg, #b7ade912 25%, transparent 25%, transparent 50%, #b7ade912 50%, #b7ade912 75%, transparent 75%, transparent), linear-gradient(-45deg, #b7ade912 25%, transparent 25%, transparent 50%, #b7ade912 50%, #b7ade912 75%, transparent 75%, transparent);
    background-color: #ffffff;
    background-size: 20px 20px;
    color: #b7ade9;
}
h2 {
    font-family: "Dela Gothic One", sans-serif;  
    font-weight: 400;
    font-style: normal;  
}
    p.img-27-4 img {
        width: 400px;
    
        }



        .box-003 {
            max-width: 600px;
            margin: 0 auto;
            padding: 1em 1.5em;
            box-shadow: 0 4px 4px rgb(0 0 0 / 5%), 0 2px 3px -2px rgb(0 0 0 / 1%);
            background-image: linear-gradient(transparent calc(100% - 1px), #e6edf3 50%, #e6edf3), linear-gradient(90deg, transparent calc(100% - 1px), #e6edf3 50%, #e6edf3);
            background-size: 15px 15px;
            background-repeat: repeat;
            background-color: #ffffff;
            color: #000000;
        }

.footer-001 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px 10px 10px;
    background-color: #b7abe9;
}

.footer-001__logo {
    width: 130px;
    height: 30px;
}

.footer-001__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 1.5em;
    list-style-type: none;
    margin: 0 0 .5em;
    padding: .5em;
}

.footer-001__link {
    color: black;
    font-size: larger;
    font-weight: 200;
    text-decoration: none;
}

.footer-001__copyright {
    margin: 0;
    color: #ffffffb3;
    font-weight: 200;
    font-size: .8em;
}
h4 {
    padding: 0.5rem 0;
    margin-bottom: 0.2rem;
    border-bottom: 6px double #b7abe9;
    border-left: auto;
    border-right: auto; 
    font-weight: bold;
    font-size: 20px;
}

html {
    scroll-behavior: smooth;
}
.pagetop {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    background: #fff;
    border: solid 2px #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.pagetop__arrow {
    height: 10px;
    width: 10px;
    border-top: 3px solid #000;
    border-right: 3px solid #000;
    transform: translateY(20%) rotate(-45deg);
}
@media (hover: hover) and (pointer: fine) {
    .pagetop:hover, .pagetop:hover .pagetop__arrow {
        border-color: #b7abe9;
    }
}